.cover {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center center;
  background-size: cover;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  z-index: 1;
}

.cover::before {
  content: '';
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: -1;
  background-color: #000;
	opacity: 0.3;
  transition: opacity 350ms ease;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    width: 100%;
    min-height: 200px;
    justify-content: start;
  }
}
