.cover__title {
  max-width: 560px;
  min-height: 152px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 32px;
}

@media screen and (max-width: 320px) {
  .cover__title {
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
    padding-top: 18px;
  }
}