.place {
  max-width: 984px;
  position: relative;
  display: grid;
  grid-template-areas: 
  "title website"
  "image paragraph";
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 320px;
    padding-bottom: 50px;
  }
}